[Desktop Entry]
Version=1.0
Name=Luppp
GenericName=Live performance mixing tool
GenericName[fr]=Outil de mixage pour performance live
Comment=Create music by recording, playing, and mixing samples
Comment[fr]=Créer de la musique en enregistrant, jouant et mixant des échantillons
Type=Application
Categories=Audio;AudioVideo;
Exec=luppp
Terminal=false
StartupNotify=true
Icon=/usr/share/luppp/luppp.png
X-NSM-capable=true
